  .container{
  
           width: 60%;
           margin: 60px auto;
           padding: 30px;
     
         
           border-radius: 12px;
           border: 2px solid #8b5a2b;

           background-color: #d4c39b; 
           background-blend-mode: lighten;
           align-items: center;

            background-image: url("img/5d29c2a4-d690-48f0-82b4-62abb0ff798a.jpg");
            background-size: cover;
            background-position: center;

        }
              
        .secao-flex{
            display: flex;
            justify-content: flex-start;
            margin-bottom: 20px;
            flex-wrap: nowrap;
         }

         .bloco-conteudo{
            flex: 1;
            margin: 0 10px;
            min-width: 300px;


         }
         
      
          .container-info{
            padding: 30px;
            border: #7a3d13 2px solid;
          }
        .container form{
            width: 400px;
            margin: 0 auto;
        }

        body {
            background-color: #f7e7c1; 
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            color: #4a2c0a; 

        }

        h1 {
            text-align: center;
            color: #7a3d13; 
            margin-bottom: 20px;
            


        }

        label  {
            font-weight: bold;
            color: #7a3d13;
            margin-left: 5px; 
            text-align: center;
            flex-direction: column;
        }

        #tipo {
            font-weight: bold;
            color: #7a3d13;
        }

        select {
            padding: 8px;
            background-color: #ffe8b8; 
            border: 2px solid #c2681f;
            border-radius: 5px;
            color: #4a2c0a;
            font-weight: bold;
           margin-top: 2%;
        }


       /* area de informações */

        #info {
            margin-top: 25px;
            padding: 15px;
            border: 2px solid #c2681f; 
            background-color: #fff4db; 
            border-radius: 8px;
            display: none;
        }

       
        ul {
            margin: 0;
            padding-left: 20px;
        }

        li {
            margin-bottom: 5px;
        }

        #introducao-forro {
           background-color: #fff4db;
           border: 2px solid #c2681f;
           padding: 15px;
           margin-bottom: 25px;
           border-radius: 8px;
       }

       /* titulos */

         #introducao-forro h2 {
           color: #7a3d13;
           margin-top: 0;
           text-align: center;
        }
        #tituloA {
            color:#7a3d13;
        
            margin-top: 0;
           text-align: center;
        }
        #tituloB {
            color: #4a2c0a ;
            margin-top: 0;
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
        }
         .titulo-artista {
            font-size: 22px;
            font-weight: bold;
            color: #b3261e;
            margin-bottom: 10px;
        }
